@layout.app({ title: "Create Todo - My Todos" })
  @slot('meta')
    <meta name="description" content="Create a new todo" />
  @endslot
  
  <h1 class="text-4xl font-bold text-center">
    Create Todo
  </h1>
@end
